name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [kafka-playground, postgres-playground]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'
        cache-dependency-path: ${{ matrix.module }}/go.sum

    - name: Build ${{ matrix.module }}
      working-directory: ./${{ matrix.module }}
      run: go build -v ./...

    - name: Test ${{ matrix.module }}
      working-directory: ./${{ matrix.module }}
      run: go test -v ./...
